<!doctype html>
<html lang="en" ng-app="wReader" ng-csp>
<head>
  <meta charset="utf-8">

  <title>wReader</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="AppController" ng-cloak w-keydown w-space="handleSpace()"
      w-down="items.next()" w-up="items.prev()" w-read="items.toggleRead()" w-star="items.toggleStarred()" >
  <header>

    <div class="navbar navbar-fixed-top no-select" ng-controller="NavBarController">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" data-toggle="modal" href="#modalAbout">
            wReader
          </a>
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li class="itemCount"><a ng-click="showAll()">{{items.all.length}} Items</a></li>
            <li class="divider-vertical"></li>
            <li class="itemCount"><a ng-click="showUnread()">{{items.all.length - items.readCount}} Unread</a></li>
            <li class="divider-vertical"></li>
            <li class="itemCount"><a ng-click="showStarred()">{{items.starredCount}} Starred</a></li>
            <li class="divider-vertical"></li>
            <li class="itemCount"><a ng-click="showRead()">{{items.readCount}} Read</a></li>
            <li class="divider-vertical"></li>
          </ul>
          <form class="navbar-search pull-left" id="navSearch">
            <input type="search" ng-model="$parent.search" class="search-query" placeholder="Search">
          </form>
          <ul class="nav pull-right">
            <!--<li><a ng-click="showSettings()"><i class="icon-cog icon-white"></i></a></li>-->
            <!--
            <li><a {{action "showUserConfig" on="click"}}><i class="icon-user icon-white"></i></a></li>
            -->
            <li><a ng-click="refresh()" title="Refresh all feeds" alt="Refresh all feeds"><i class="icon-refresh icon-white"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </header>
  <section class="mainContent">

    <section class="controls no-select">
      <div class="tControls">
        <div class="top">
          <button ng-click="items.markAllRead()" class="btn" title="Mark all as read" alt="Mark all as read"><i class="icon-ok"></i></button>
        </div>
        <div class="middle">
          <button ng-click="items.prev()" class="btn" ng-disabled="!items.hasPrev()"><i class="icon-arrow-up"></i></button>
          <button ng-click="items.toggleStarred()" ng-disabled="!items.selected" class="btn">
            <i ng-class="{'icon-star': items.selected.starred, 'icon-star-empty': !items.selected.starred}"></i>
          </button>
          <button ng-click="items.toggleRead()" ng-disabled="!items.selected" class="btn">
            <i ng-class="{'icon-ok-sign': items.selected.read, 'icon-ok-circle': !items.selected.read}"></i>
          </button>
          <button ng-click="items.next()" class="btn" ng-disabled="!items.hasNext()"><i class="icon-arrow-down"></i></button>
        </div>
        <div class="bottom">
          <button ng-click="refresh()" class="btn" title="Refresh feeds" alt="Refresh feeds">
            <i class="icon-refresh"></i>
          </button>
        </div>
      </div>
    </section>

    <section class="summaries">
      <article ng-repeat="item in items.filtered | filter: search"
               id="{{item.id}}"
               ng-class="{read: item.read, active: item.selected}" class="well summary"
               ng-click="items.selectItem($index)">
        <div class="row-fluid" >
          <div class="span6 pub-name">
            {{item.feedTitle}}
          </div>
          <div class="span6 pub-date">
            {{item.date | formattedDate}}
          </div>
        </div>
        <h3 class="pub-title">{{item.title}}</h3>
      </article>
    </section>

    <section class="entries">

      <article class="well entry active" ng-class="{read: items.selected.read}" ng-show="items.selected">
        <div class="row-fluid">
          <div class="span8">{{items.selected.date | formattedDate}}</div>
            <div class="span4 actions">
              <a ng-click="items.toggleStarred()">
                <i ng-class="{'icon-star': items.selected.starred, 'icon-star-empty': !items.selected.starred}"></i>
              </a>
              <a ng-click="items.toggleRead()">
                <i ng-class="{'icon-ok-sign': items.selected.read, 'icon-ok-circle': !items.selected.read}"></i>
              </a>
              <a href="{{items.selected.url}}" target="_blank"><i class="icon-share"></i></a>
            </div>
          </div>
          <h2>{{items.selected.title}}</h2>
          <span class="author">{{items.selected.author}}</span> - <span class="pub-name">{{items.selected.feedTitle}}</span>
          <hr />
          <w-content src="items.selected.content"></w-content>
        </div>
      </article>
      <div class="nothingSelected" ng-show="!items.filtered.length || !items.selected">
        <img src="img/sadpanda.png" alt="Sad Panda" title="Sad Panda">
        <p>Nothing selected.</p>
      </div>

    </section>
  </section>

  <div class="modal fade" id="modalAbout">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>About wReader</h3>
    </div>
    <div class="modal-body">
      <p>Original WReader by <a href="http://petelepage.com">Pete LePage</a>.
         AngularJS port by <a href="http://ericbidelman.com">Eric Bidelman</a>, Vojta Jina.
         Chrome Platform port by <a href="http://igorminar.com">Igor Minar</a>.</p>
    </div>
    <div class="modal-footer">
      <a data-dismiss="modal" class="btn btn-primary">Close</a>
    </div>
  </div>

  <script src="js/libs/jquery-1.7.1.min.js"></script>
  <script src="js/libs/angular-1.0.1.min.js"></script>
  <script src="js/libs/moment-1.4.0.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/store.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>

</body>
</html>
